.sort-icons {
	i{
		padding-left: 16px;
		color: $color-primary;
	}
}

.cs-row-active{
	background-color: $color-primary;
	td{
		background-color: inherit;
		color: #fff;
	}
}

.cs-table-row{
	&:hover{
		background-color: lighten($color-primary, $amount: 40%);
		cursor: pointer;
	}
}

.cs-table-pagination{
	border-top: 1px solid $color-border;
	padding: 16px 0;
}

.cs-table-top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cs-pagination-buttons{
	button{
		background-color: none;
		border: none;
		color: $color-text;
		i{
			color: inherit;
		}
		&:hover:not([disabled]){
			color: $color-primary;
			transition: all ease-in-out .3;
			cursor: pointer;
			i{
				transform: scale(1.1);
			}
		}
		&:disabled{
			color: $color-disabled;
			background-color: transparent !important;
		}
	}
}


.cs-select-filter{
	display: inline;
    width: 100px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-left: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cs-actions{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.cs-btn{
		width: 24px;
		height: 24px;
		border: none;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 4px;
	
		&.cs-view{
			background-color: $color-primary;
			&:hover{
				background-color: lighten($color-primary,5%)
			}
		}
		&.cs-delete{
			background-color: $color-danger;
			&:hover{
				background-color: lighten($color-danger,5%)
			}
		}

		i{
			color: white;
			font-size: 12px;
		}
	}
}


.cs-react-table{
	@include tablet{
		overflow-x: scroll;
		.cs-select-show-number{
			span{
				display: none;
			}
		}
		.cs-table-top{
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;

			.cs-select-show-number{
				width: 30%;
			}
			.cs-global-filter{
				width: 65%;
			}
		}
	}
}

tr.cs-empty-table{
	width: 100%;
	height: 50px;
	position: relative;
	td{
		position: absolute;
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
		color: #495057;
		font-size: 18px;
		border:none;
	}
}
